@model TimeTracking2.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Форма регистраци</legend>
        <ol>
            <li>
                @Html.LabelFor(x => x.UserProfile.UserName)
                @Html.TextBoxFor(x => x.UserProfile.UserName)
                @Html.ValidationMessageFor(x => x.UserProfile.UserName)
            </li>
            <li>
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password)
                @Html.ValidationMessageFor(x => x.Password)
            </li>
            <li>
                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.PasswordFor(x => x.ConfirmPassword)
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(x => x.UserProfile.LastName)
                @Html.TextBoxFor(x => x.UserProfile.LastName)
                @Html.ValidationMessageFor(x => x.UserProfile.LastName)
            </li>
            <li>
                @Html.LabelFor(x => x.UserProfile.FirstName)
                @Html.TextBoxFor(x => x.UserProfile.FirstName)
                @Html.ValidationMessageFor(x => x.UserProfile.FirstName)
            </li>
            <li>
                @Html.LabelFor(x => x.UserProfile.MiddleName)
                @Html.TextBoxFor(x => x.UserProfile.MiddleName)
                @Html.ValidationMessageFor(x => x.UserProfile.MiddleName)
            </li>
        </ol>
    </fieldset>
    <input type="submit" value="Регистрация" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
